<div class="row">
  <div class="col-sm-9">
    <span class="profile-name">{{profile.name}}</span>
    <div class="row">
    <div class="col-sm-12">
      <span [innerHtml]="profile.summary | tagmarker:skills"></span>
    </div>
  </div>
  </div>
  <div class="col-sm-3 ">
    <ul class="fa-ul pull-right contact-container">
      <li *ngFor="let link of profile.links">
        <a href="{{link.url}}"><span class="icon"><i class="fa-li fa fa-{{link.icon}}"></i> {{link.name}}</span></a>
      </li>
    </ul>
  </div>
</div>

